@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Sen:wght@400;700;800&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.font-Sen {
  font-family: "Sen", sans-serif;
}

.font-Roboto {
  font-family: "Roboto", sans-serif;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.content_bg {
  background-image: url("../../assets/Images/Banner3x.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-bg {
  background-image: url("../../assets/Images/cardBg.png");
}

.container {
  position: relative;
}

.inner-triangle {
  border-left: 150px solid transparent;
  border-right: 150px solid black;
  border-bottom: 150px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  right: 0px;
  z-index: 2;
}

.outer-triangle {
  border-left: 150px solid transparent;
  border-right: 150px solid black;
  border-bottom: 150px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  right: 0px;
  z-index: 1;
}

.box_shadow {
  box-shadow: 0px -18px 50px #785702;
  width: 90%;
}

.contact-form {
  background: linear-gradient(
    107.44deg,
    rgba(255, 232, 27, 0.65) -27.37%,
    rgba(153, 44, 20, 0) 100%
  );
}

/* .slick-dots li button{
  color: white !important;
  background-color: #785702 !important;
} */

.slick-dots li button:before {
  color: #b2944a !important;
}
